<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="turnus.ui.exportWizard"
            name="TURNUS">
      </category>
      <wizard
            category="turnus.ui.exportWizard"
            class="turnus.ui.wizard.impl.XlsFileExporterWizard"
            icon="icon/report-excel.png"
            id="turnus.ui.exportWizard.xls"
            name="XLS file exporter">
      </wizard>
      <wizard
            category="turnus.ui.exportWizard"
            class="turnus.ui.wizard.impl.GraphmlFileExporterWizard"
            icon="icon/node-magnifier.png"
            id="turnus.ui.exportWizard.graphML"
            name="GraphML file exporter">
      </wizard>
      <wizard
            category="turnus.ui.exportWizard"
            class="turnus.ui.wizard.impl.HtmlFileExporterWizard"
            icon="icon/report.png"
            id="turnus.ui.exportWizard.html"
            name="HTML file exporter">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="turnus.ui.newWizard"
            name="TURNUS">
      </category>
      <wizard
            canFinishEarly="false"
            category="turnus.ui.newWizard"
            class="turnus.ui.editor.architecture.ArchitectureBuilderWizard"
            hasPages="true"
            icon="icon/processor.png"
            id="turnus.ui.newWizard.architecture"
            name="XAF architecture file"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="turnus.ui.wizard.FileExporterWizardHandler"
            id="turnus.ui.command.fileExporter"
            name="File exporter command ">
         <commandParameter
               id="turnus.ui.command.fileExporter.outExtension"
               name="Output file extension"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="turnus.ui.editor.architecture.ArchitectureDeleteDiagram"
            id="turnus.ui.command.architecture.deleteDiag"
            name="Delete architecture diagram file">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=export">
         <command
               commandId="turnus.ui.command.fileExporter"
               icon="icon/report-excel.png"
               id="turnus.ui.command.fileExporter.toXls"
               label="Export to XLSX"
               style="push"
               tooltip="Export the data to xlsx">
            <parameter
                  name="turnus.ui.command.fileExporter.outExtension"
                  value="xlsx">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="turnus.file.exporter.toXLS">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="turnus.ui.command.fileExporter"
               icon="icon/node-magnifier.png"
               id="turnus.ui.command.fileExporter.toGraphML"
               label="Export to GraphML"
               style="push"
               tooltip="Export the data to GraphML">
            <parameter
                  name="turnus.ui.command.fileExporter.outExtension"
                  value="graphml">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="turnus.file.exporter.toGRAPHML">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="turnus.ui.command.fileExporter"
               icon="icon/report.png"
               id="turnus.ui.command.fileExporter.toHtml"
               label="Export to HTML"
               style="push"
               tooltip="Export the data to html">
            <parameter
                  name="turnus.ui.command.fileExporter.outExtension"
                  value="html">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           forcePluginActivation="true"
                           property="turnus.file.exporter.toHTML">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="turnus.ui.menu.main"
               label="TURNUS"
               tooltip="TURNUS analysies and utilities">
            <menu
                  id="turnus.ui.menu.main.analysies"
                  label="Analysis">
            </menu>
            <menu
                  id="turnus.ui.menu.main.utilities"
                  label="Utilities">
            </menu>
            <menu
                  id="turnus.ui.menu.main.timeline"
                  label="Timeline">
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=additions">
         <command
               commandId="turnus.ui.command.architecture.deleteDiag"
               icon="icon/eraser.png"
               label="Delete the architecture diagram file"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.xaf">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="turnus.ui.preferences.TurnusPreferences"
            id="turnus.ui.preferences"
            name="TURNUS">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="turnus.ui.editor.mapping.NetworkWeightEditor"
            default="true"
            extensions="exdf"
            icon="icon/odata-document.png"
            id="turnus.ui.editor.mapping.networkWeight"
            name="TURNUS Network weight editor">
      </editor>
      <editor
            class="turnus.ui.editor.mapping.SchedulingWeightEditor"
            default="true"
            extensions="sxdf"
            icon="icon/odata-document.png"
            id="turnus.ui.editor.mapping.networkSchedulingWeight"
            name="TURNUS Network scheduling weight editor">
      </editor>
      <editor
            class="turnus.ui.editor.mapping.BufferSizeEditor"
            default="true"
            extensions="bxdf"
            icon="icon/odata-document.png"
            id="turnus.ui.editor.mapping.bufferSize"
            name="TURNUS Buffer size editor">
      </editor>
      <editor
            class="turnus.ui.editor.analysis.AnalysisReportMarkdownEditor"
            default="true"
            extensions="tsize, cprof, dprof, bottlenecks, impact, boundbuffer, pcomm, iacomm, ipcomm, lprof, pwbal, varpipe, ctrace, dtraces, mprof, amtrace, pimpact, sbottlenecks, simpact, optimalbuffer, pproan, pproar, bbreport, screport, ppreport"
            icon="icon/blue-document-table.png"
            id="turnus.ui.editor.report.md"
            name="TURNUS Analysis report viewer">
      </editor>
      <editor
            class="turnus.ui.editor.mapping.NetworkPartitioningEditor"
            default="true"
            extensions="xcf"
            icon="icon/odata-document.png"
            id="turnus.ui.editor.mapping.networkPartitioning"
            name="TURNUS Network partitioning editor">
      </editor>
      <editor
            class="turnus.ui.editor.configuration.ConfigurationEditor"
            default="true"
            extensions="conf"
            icon="icon/clipboard-invoice.png"
            id="turnus.ui.editor.configuration"
            name="TURNUS Configuration editor">
      </editor>
      <editor
            class="turnus.ui.editor.architecture.ArchitectureDiagramEditor"
            contributorClass="turnus.ui.editor.architecture.ArchitectureBarContributor"
            default="true"
            extensions="xaf"
            icon="icon/processor.png"
            id="turnus.ui.editor.architecture.ArchitectureDiagramEditor"
            name="TURNUS Architecture editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="turnus.ui.tester.FileExtensionTester"
            id="turnus.property.tester.file.extension"
            namespace="turnus.file.extension"
            properties="isTRACE, isTRACEZ, isDPROF, isCPROF, isNET, isARCH, isNL, isXDF, isCAL, isTSIZE, isIPCOMM"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
      <propertyTester
            class="turnus.ui.tester.FileExporterTester"
            id="turnus.property.tester.file.exporter"
            namespace="turnus.file.exporter"
            properties="toXLS, toGRAPHML, toHTML"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="turnus.ui.preferences.TurnusPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="turnus.ui.editor.architecture.diagramType"
            name="Turnus Architecture diagram"
            type="xafDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="turnus.ui.editor.architecture.diagram.ArchitectureDiagramTypeProvider"
            id="turnus.ui.editor.architecture.diagramTypeProvider"
            name="Turnus Architecture diagram type provider">
         <diagramType
               id="turnus.ui.editor.architecture.diagramType">
         </diagramType>
         <imageProvider
               id="turnus.ui.editor.architecture.imageTypeProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="turnus.ui.editor.architecture.diagram.ArchitectureImageProvider"
            id="turnus.ui.editor.architecture.imageTypeProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="xafDiagram.PropertyContributor">
         <propertyCategory
               category="turnus.ui.editor.architecture.defaultCategory"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="xafDiagram.PropertyContributor">
         <propertyTab
               category="turnus.ui.editor.architecture.defaultCategory"
               id="turnus.ui.editor.architecture.tab.Schedulers"
               label="Schedulers">
         </propertyTab>
         <propertyTab
               category="turnus.ui.editor.architecture.defaultCategory"
               id="turnus.ui.editor.architecture.tab.TypeSystemProcessingUnit"
               label="Type System">
         </propertyTab>
         <propertyTab
               category="turnus.ui.editor.architecture.defaultCategory"
               id="turnus.ui.editor.architecture.tab.OperatorsProcessingUnit"
               label="Operators">
         </propertyTab>
         <propertyTab
               category="turnus.ui.editor.architecture.defaultCategory"
               id="turnus.ui.editor.architecture.tab.MainFpga"
               label="FPGA">
         </propertyTab>
         <propertyTab
               category="turnus.ui.editor.architecture.defaultCategory"
               id="turnus.ui.editor.architecture.tab.MainDsp"
               label="DSP">
         </propertyTab>
         <propertyTab
               category="turnus.ui.editor.architecture.defaultCategory"
               id="turnus.ui.editor.architecture.tab.MainCpu"
               label="CPU">
         </propertyTab>
         <propertyTab
               category="turnus.ui.editor.architecture.defaultCategory"
               id="turnus.ui.editor.architecture.tab.MainGenericMedium"
               label="Medium">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="xafDiagram.PropertyContributor">
         <propertySection
               class="turnus.ui.editor.architecture.properties.GenericProcessingUnitMainSection"
               filter="turnus.ui.editor.architecture.filter.FpgaSectionFilter"
               id="turnus.ui.editor.architecture.tab.section.MainFpga"
               tab="turnus.ui.editor.architecture.tab.MainFpga">
         </propertySection>
         <propertySection
               class="turnus.ui.editor.architecture.properties.CpuSection"
               filter="turnus.ui.editor.architecture.filter.CpuSectionFilter"
               id="turnus.ui.editor.architecture.tab.section.MainCpu"
               tab="turnus.ui.editor.architecture.tab.MainCpu">
         </propertySection>
         <propertySection
               class="turnus.ui.editor.architecture.properties.DspSection"
               filter="turnus.ui.editor.architecture.filter.DspSectionFilter"
               id="turnus.ui.editor.architecture.tab.section.MainDsp"
               tab="turnus.ui.editor.architecture.tab.MainDsp">
         </propertySection>
         <propertySection
               class="turnus.ui.editor.architecture.properties.TypeSystemSection"
               filter="turnus.ui.editor.architecture.filter.ProcessingUnitSectionFilter"
               id="turnus.ui.editor.architecture.tab.section.TypeSystemProcessingUnit"
               tab="turnus.ui.editor.architecture.tab.TypeSystemProcessingUnit">
         </propertySection>
         <propertySection
               class="turnus.ui.editor.architecture.properties.OperatorsSection"
               filter="turnus.ui.editor.architecture.filter.ProcessingUnitSectionFilter"
               id="turnus.ui.editor.architecture.tab.section.OperatorsProcessingUnit"
               tab="turnus.ui.editor.architecture.tab.OperatorsProcessingUnit">
         </propertySection>
         <propertySection
               class="turnus.ui.editor.architecture.properties.SchedulerSection"
               filter="turnus.ui.editor.architecture.filter.SchedulerSectionFilter"
               id="turnus.ui.editor.architecture.tab.section.Schedulers"
               tab="turnus.ui.editor.architecture.tab.Schedulers">
         </propertySection>
         <propertySection
               class="turnus.ui.editor.architecture.properties.GenericMediumMainSection"
               filter="turnus.ui.editor.architecture.filter.MediumSectionFilter"
               id="turnus.ui.editor.architecture.tab.section.Medium"
               tab="turnus.ui.editor.architecture.tab.MainGenericMedium">
         </propertySection>
      </propertySections>
   </extension>
</plugin>
